.menu {
    background: #F5F6F6;
    display: flex;
    flex-direction: column;
    border: 1px solid #005BAE;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 0px 0px 15px 0px;
    min-width: 180px;
    white-space: pre-line;
}

.contenedor-menu {
    display: flex;
    flex-direction: column;
}

.contenedor-mensaje-menu-recibido {
    background: #F2F2F7;
    display: flex;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0px 6px 3px 6px;
    white-space: pre-line;
    max-width: fit-content;
}